@charset "UTF-8";

/*Todas as demais midias*/

/*Typical Device Breakpoints
-------------------------------
  smarthphones: ate 481px
  tablet: ate 768px
  laptop: 1025px
  acima de 1200 grandes telas
*/

@media print {/*para imprssão*/
    
}